*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Popins',sans-serif;
}


.container {
  padding: 20px;
  display: grid;
  row-gap: 10px;
 grid-template-columns: 150px 300px;
}
.header {
  text-align: center;
  border-radius: 8px;
  color: red;
  background-color: whitesmoke;
}
.buttons button {
  background-color: green;
  color: white;
  padding: 5px 15px;
  border-radius: 12px;
  border: none;
}

.buttons button {
  background-color: green;
  color: white;
}
input{
  padding-left: 5px;
}
.field_date input{
  width: 500px;
  margin-left: 137px;
}

form {
  padding: 10px;
  width: fit-content;
  margin: 0px auto;
  background-color: lightgray;
  border-radius: 12px;
}
