@media (min-width: 600px) {
  .wrapper {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  main {
    padding: 20px 50px;
  }
  nav {
    margin-left: 0;
  }
  .fa-solid.fa-bars {
    display: none;
  }
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .info {
    width: 52%;
  }
  .customer_image {
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  /* .group_info1 {
    width: fit-content;
    max-width: 230px;
  } */
  /* .Team_work_img {
    width: 60%;
  } */
  .Team_work_info {
    padding: 0px;
  }
  .container {
    display: flex;
  }
  .container_box_buttons {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
  }
  .Team_work_info button {
    width: 67%;
  }
  footer {
    padding: 16px 13px;
    width: 109%;
  }
  .footer_items {
    gap: 29px;
  }
  nav {
    width: 100%;
  }
  nav ul li {
    margin: 0;
    height: fit-content;
  }
  /* .group {
    flex-wrap: wrap;
  }
  .group img {
    width: 90%;
    margin: 0 auto;
  }
  .ginfo {
    margin: 0;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  } */
}
