<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="container">
      <div class="imagebox_1">
        <div class="image_1">
          <img
            class="hidden"
            src="https://images.pexels.com/photos/1408221/pexels-photo-1408221.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/id/520700958/photo/beautiful-flowers-background.jpg?s=2048x2048&w=is&k=20&c=OFq8_xh2M46tc6hIWIuCnfzDLMXRmC3GWu_Dbd1mlzA="
            alt=""
          />
          <img
            src="https://images.pexels.com/photos/22028757/pexels-photo-22028757/free-photo-of-white-chrysanthemum-flowers.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
          />
        </div>

        <div class="image_1">
          <img
            src="https://images.pexels.com/photos/85773/pexels-photo-85773.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <img
            src="https://cdn.pixabay.com/photo/2020/05/29/05/57/hibiscus-5233811_640.jpg"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/id/937749758/photo/springtime-tulip-flowers-against-a-blue-sky-in-the-sunshine.jpg?s=2048x2048&w=is&k=20&c=dfNQsWCt_tkz-F1ONyM4XXsDatg4CdSfC-W4NOxSn8g="
            alt=""
          />
          <img
            class="hidden"
            src="https://images.pexels.com/photos/2377965/pexels-photo-2377965.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
        </div>

        <div class="image_1">
          <img
            src="https://media.istockphoto.com/id/520700892/photo/beautiful-flowers-background.jpg?s=2048x2048&w=is&k=20&c=SmpxrJvoy0iTTwfxYbD6qKqDAB-v5VManV5YDT6UmeA="
            alt=""
          />
          <img
            src="https://media.istockphoto.com/id/520701104/photo/beautiful-flowers-background.jpg?s=2048x2048&w=is&k=20&c=JsE845O2DQ3ZFfS5J_XyoF2x9Ep8QGQmEZVONtR66gc="
            alt=""
          />
          <img
            src="https://cdn.pixabay.com/photo/2017/01/08/12/24/the-bluebells-of-scotland-1962794_1280.png"
            alt=""
          />
          <img
            class="hidden"
            src="https://images.pexels.com/photos/2377965/pexels-photo-2377965.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
        </div>
        <div class="image_1">
          <img
            src="https://images.pexels.com/photos/21760709/pexels-photo-21760709/free-photo-of-blue-flowers-of-hydrangea.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <img
            src="https://images.pexels.com/photos/21832537/pexels-photo-21832537/free-photo-of-red-flowers-on-meadow.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <img
            class="hidden"
            src="https://images.pexels.com/photos/2377965/pexels-photo-2377965.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <img
            class="hidden"
            src="https://images.pexels.com/photos/2377965/pexels-photo-2377965.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
        </div>
      </div>
    </div>

    
</body>
</html>